<div class="sky-error">
  <div>
    <div class="sky-error-image-container">
      <sky-error-image *ngIf="errorType"
        [imageType]="errorType"
      >
      </sky-error-image>

      <ng-content select="sky-error-image"></ng-content>
    </div>
    <div class="sky-error-content sky-error-title sky-emphasized">
      <span *ngIf="title">{{ title }}</span>

      <ng-content select="sky-error-title"></ng-content>
    </div>
    <div class="sky-error-content sky-error-description">
      <span *ngIf="description">{{ description }}</span>

      <ng-content select="sky-error-description"></ng-content>
    </div>
    <div class="sky-error-content sky-error-action">
      <ng-content select="sky-error-action"></ng-content>
    </div>
  </div>
</div>
