@import "~@skyux/theme/scss/mixins";
@import "~@skyux/theme/scss/_compat/mixins";

.sky-error {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sky-error-content {
  text-align: center;
}

.sky-error-action {
  margin-top: $sky-margin;
}

.sky-error-description span {
  white-space: pre-wrap;
}

.sky-error-image-container {
  display: flex;
  justify-content: center;
}
